body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
    font-weight: 480;
}

.form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    /* background-color: rgb(225, 235, 247); */
}

h2 {
    text-align: center;
}

.form div {
    margin-bottom: 15px;
    margin-top: 15px;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="number"],
.form .container input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form .container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
 .form .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} 


.form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 25px;
    background-color: #eee;
    border: 1px solid darkgray;
}

.form .container input:checked ~ .checkmark:after {
    display: block;
}

.form .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form .btn {
    text-align: center;
}

.form .submit-btn {
    padding: 10px 20px;
    background-color: rgb(85, 82, 82);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.form .submit-btn:hover {
    background-color: rgb(71, 70, 70);
}

.form-group input{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
   

.form-group ul{
list-style:none;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}
.table-container table {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
   
}

.error{
    color: rgb(187, 7, 7);
    font-size: 12px;
}

@media (max-width: 576px) {
    .table-container table td {
        width: 100%;
    }

}

@media (min-width: 577px) and (max-width:991){
   

    .form input[type="text"],
    .form input[type="number"] {
        width: 100%;
    }
    .table-container table td {
        width: 50%; 
    }
   
}
@media (min-width:992px) {
       .table-container table td {
        width: 50%; 
    }
    
  
}


@media (max-width: 361px) {
    .table-container table td {
        padding: 1px;
        position: relative;
    }

    .form .container {
        padding-left: 25px; 
        padding-right: 3px; 
        margin-bottom: 5px;
        position: relative; 
    }

    .form .container input {
        position: absolute;
        top: 50%; 
        left: 5px;
        transform: translateY(-50%); 
        margin-right: 5px; 
    }

    .form .checkmark {
        height: 15px;
        width: 20px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .form .container .checkmark:after {
        content: "";
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%) rotate(45deg); 
        width: 5px;
        height: 9px;
        border: solid black;
        border-width: 0 2px 2px 0;
    }
}

